@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Protest+Riot&family=Roboto:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: 700ms ease;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(94, 19, 19);
  }

  nav {
    background-image:url(Assets/Background\ 2.jpeg);
    background-size:1600px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .nav__links {
    display: flex;
    justify-content:right ;
    align-items: center;
    padding: 8px;
    list-style: none;
    cursor: pointer;
    font-size: 32px;
    font-weight: 800;
    text-shadow: 58px black;
  }

  .nav__link--btn:hover {
    transform: scale(105%);
    transition: 300ms ease;
  }

li:hover {
transform: scale(124%);
transition: 300ms ease;
  }

  .nav__link {
    text-decoration: none;
    padding: 8px;
    margin-left: 36px;
    text-shadow: 3px 2px 4px black ;
    color: rgb(228, 168, 76);
  }
   .nav__link--btn {
    width: 124px;
    height: 40px;
    font-size: 24px;
    font-weight: 800;
    margin-left: 24px;
    border-radius: 20px;
    color: rgb(16, 16, 16);
    cursor: pointer;
    background-color: rgb(228, 168, 76);
   }

  .title__search--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }

input {
    width: 400px;
    height: 56px;
    border-radius: 25px;
    padding-left: 64px;
    font-size: 28px;
    margin-bottom: 24px;
   color:  rgb(228, 168, 76);
  }

  /*
  MOVIES
  */

  .results__filter {
    display: flex;
    justify-content: space-around;
  }

  .results__wrapper {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 4px;
  }

  .results {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 1px 2px  rgb(228, 168, 76);
  }

  .search__name {
    color: white;
    text-shadow: 4px 3px 4px black;
    font-size: 28px;
  }

  #filter {
    margin: 24px;
    width: 166px;
    height: 32px;
    background-color: black;
    color: rgb(228, 168, 76);
    font-size: 18px;
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
  }

  .movie {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
   
  }

  .image {
    cursor: pointer;
  }

  .image:hover {
    transform:scale(103%)
  }
  h2 {
   text-shadow: 2px 1px 2px  rgb(228, 168, 76) ;
  }

  h4 {
    font-size: 22px;
   text-shadow: 2px 1px 2px  rgb(228, 168, 76) ;
  }


  .learn__btn {
    width: 84px;
    border-radius: 25px;
    margin: 8px;
    background-color: rgb(228, 168, 76);
    font-weight: 700;
    cursor: pointer;
  }

  .learn__btn:hover {
    transform: scale(110%);
  }